* {
    margin: 0;
    padding: 0; 
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("Background.png");
}

.header {
    margin-top: 20%;
    margin-left: 37%;
    font-size: 60px;
}

.locationbutton {
    margin-left: 39.2%;
    margin-top: 4%;
    padding: 10px; 
    font-size: 24px;
    border-radius: 6px;
    border: none; 
    color: aliceblue;
    background-color: rgb(105, 105, 105);
    width: 240px; 
}