* {
    margin: 0;
    padding: 0;
    background-color: rgb(221, 221, 221);
    font-family: 'Poppins', sans-serif;
}

.header {
    background-color: blue;
    display: flex;
    color: white; 
    margin-top: 20px;
}

.headertxt {
    background-color: blue;
    margin-left: 5%;
}

.header img {
    background-color: blue;
}

.wolken {
    margin: 15px;
    margin-top: 29px;
    position: relative;
}

.txt {
    margin: 15px;
    font-weight: 1000;
    margin-top: 0;
}